.identification{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 10rem 0;
  min-width: 290px;
  align-items: center;
}
.identification__img{
  text-align: center;
}
.identification__img img{
  width: 100%;
}

.identification__description{
  text-align: center;
  padding: 0 3rem;
  font-size: 2rem;
}
.identification__description p{
  text-align: justify;
}
.identification__behaviors{
  grid-column-start: 1;
  grid-column-end: 3;
}
.identification__behaviors h3{
  text-align: center;
  margin-bottom: 3rem;
}
.behaviors__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 5rem;
  justify-items : center;
}
.behaviors__container--item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.container__item--hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}
.container__item--hover:hover{
  background-color: var(--red-color);
}
.behaviors__container--item p{
  text-align: center;
  color: var(--white-color);
  font-family: kids, sans-serif;
}

@media (max-width: 960px) {
  .identification{
    grid-template-columns: 1fr;
  }
  .identification__description{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0;
  }
  .identification__img{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .behaviors__container {
    gap: 3rem;
  }
}

