.navbar {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
.navbar__container{
  height: 12rem;
  display: flex;
  align-items: center;
}
.navbar__generic{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__icon {
  display: none;
}

@media (max-width: 960px) {
  .navbar__icon {
    display: block;
    width: 100%;
    text-align: right;
  }
  .navbar__icon img {
    fill: var(--white-color);
    width: 2.5rem;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 12rem;
    left: -100vw;
    height: calc(100vh - 12rem);
    background-color: var(--primary-color);
    transition: left 1s ease-in-out;
    width: 100%;
    font-size: 3.5rem;
    gap: 4rem;
  }

  .active {
    top: 12rem;
    left: 0;
  }
}