.navbar {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 2rem;
  position: relative;
  z-index: 50;
}
.navbar__container{
  height: 12rem;
  display: flex;
  align-items: center;
}
.navbar__generic{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__icon {
  display: none;
}

.navbar__logo{
  height: 90px;
}

@media (max-width: 960px) {
  .navbar__icon {
    display: block;
    width: 100%;
    text-align: right;
  }
  .navbar__icon img {
    fill: var(--white-color);
    width: 2.5rem;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -100vh;
    left: 0;
    height: calc(100vh - 12rem);
    background-color: var(--primary-color);
    transition: top 1s ease-in-out;
    width: 100%;
    font-size: 3.5rem;
    gap: 4rem;
    z-index: -10;
  }

  .active {
    top: 12rem;
  }
}
/* .navbar h2{
  color: var(--white-color);
}
.navbar ul{
  display: flex;
  flex-flow: row wrap;
}
.navbar ul li{
  margin-right: 1rem;
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--white-color);
}
.navbar__menu{
  display: none;
}
.navbar__menu img{
  height: 25px;
  color: var(--white-color);
}
@media only screen and (max-width:920px){
  .navbar{
    width: 95%;
  }
}
@media only screen and (max-width:900px){
  .navbar{
    position: relative;
    transition: all .6s ease;
  }
  .navbar ul{
    display: none;
  }
  .navbar__menu{
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    color: var(--white-color);
  }
  .navbar__expanded{
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    transition: all .6s ease
  }
  .navbar__expanded .navbar__logo{
    position: absolute;
    top: 10px;
    left: 35px;
  }
  .navbar__expanded ul{
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar__expanded ul li{
    margin: 15px 0 ;
    list-style: none;
  }
  .navbar__expanded ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
  }
  .navbar__expanded .navbar__menu{
    position: absolute;
    top: 35px;
    right: 35px;
    color: var(--white-color);
  }
  .navbar__expanded .navbar__menu img{
    height: 30px;
    color: var(--white-color);
  }
} */