.containFooter{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}
.containFooter__logo img{
  height: 70px;
}
.containFooter__social{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.containFooter__social--logoPrincipal{
  margin-right: 2.5rem;
  height: 60px;
}
.containFooter__social--instagram{
  height: 30px;
}

@media only screen and (max-width:920px){
  .containFooter{
    width: 95%;
  }
}