@font-face {
  font-family: 'kids';
  src: local('kids'), url(./assets/fonts/Drawing\ Kids.ttf) format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: kids;
}