.header{
  width: 100%;
  min-width: 320px;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(75, 162, 196);
}

.footer{
  width: 100%;
  min-width: 320px;
  color: white;
  background-color: rgb(75, 162, 196);
}